body {
  background-color: grey;
  color: orange;
  font-family: Arial, sans-serif;
}

.tab {
  overflow: hidden;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  cursor: pointer;
  padding: 14px 16px;
}

.tabcontent {
  display: none;
  padding: 20px;
}

.tabcontent.active {
  display: block;
}

table {
  width: 100%;
  background-color: black;
  color: orange;
}

th, td {
  padding: 10px;
  text-align: left;
}

.submit-button,
.clear-button {
  padding: 6px 10px;
  background-color: white;
  border-radius: 4px;
}

#restTimer {
  font-weight: bold;
  margin-top: 10px;
}

.weight-entry-form {
  margin: 20px 0;
}

.card {
  background-color: black;
  padding: 10px;
  margin-bottom: 10px;
  color: orange;
  border-radius: 6px;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
